@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h2>Bem vindo ao SIVOL - Sistema de Vendas Online</h2>
    </div>
    @*<div>
        <img src="~/ProdutoImagens/cadastro.jpg" />
    </div>*@
</div>
